<br><br>
<h4>This position was originally written by: <%= @policy_position.author %></h4><br>
<h4>This position currently has <%= @policy_position.adopters %> adopter(s)</h4> <br>
<h4>This position currently has <%= @policy_position.opposers %> opponent(s)</h4><br>
<h4>The case that was made <%= @policy_position.for_or_against %></h4> 
<h4><a href = "/policies/<%= @policy_position.policy.id%>"> <%= @policy_position.policy.title %></a> is:</h4><br>
<p><%= @policy_position.case %></p>
<br>
<br>
<div>
    </h5>The users that have adopted this position are:</h5>
    <ul>
        <% @policy_position.users.each do |u|%>
            <li><%=u.username%></li>
        <%end%>
    </ul>
</div>

<form action = "/policy_positions/<%=@policy_position.id%>/support_or_oppose" method = "post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="radio" id="support_or_oppose" name="support_or_oppose" value = "support"> I Support This Position</input><br>
    <input type="radio" id="support_or_oppose" name="support_or_oppose" value = "oppose"> I Oppose This Position</input><br> <br>
    <input type="submit" value = "Make your voice heard!">
</form>


<% if current_user.username == @policy_position.author %>
<h5>Delete This Policy Poisition:</h5>
<form action="/policy_positions/<%=@policy_position.id%>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form>
<h5>Edit This Policy Position:</h5>
<form action="/policy_positions/<%= @policy_position.id %>/edit" method="get">
    <input type="submit" value="edit">
</form>

<% end %>
 

    
